sentence-transformers==2.2.0
flask==2.1.0
pandas==1.4.2
numpy==1.21.5
geopy==2.2.0
requests~=2.27.1
fuzzymatcher~=0.0.5
beautifulsoup4~=4.11.1
nltk~=3.7
torch~=1.8.0
scikit-learn~=1.0.2
fuzzywuzzy~=0.18.0
openpyxl
pytorch
pytest
sklearn
